@import "/src/components/navegation/footer/mixins";

$color-background: #1E86C0;
$color-words: white;

.footer-main{
    background-color: $color-background;
}

.columnas{
   column-count: 3;
   column-width: 300px;
   background-color: $color-background;
   column-gap: 4em;
}

.pos1{
    @include lineamientos_columnas($color-background);
}

.pos2{
    text-align: center;    
}

.pos3{
    text-align: center;
}


.credits{
    background-color: #C53E3E;
    text-align: center;
    color: $color-words;
}

