@mixin lineamientos_columnas($fondo){
    margin: 20px;
    background-color: $fondo;
    color: $color-words;
}

@mixin formacion_columnas($fondo){
   column-count: 2;
   column-width: 300px;
   background-color: $fondo;
   column-gap: 4em;
}

@mixin formacion_texto($min_width, $position){
    text-align: $position;
    min-width: $min_width;
    margin: 3%;
}

@mixin formacion_imagen($min_width, $position){
    text-align: $position;
    min-width: $min_width;
    margin: 3%;
}