@import '../Login/mixinsLogin'; 
@import "/src/components/navegation/footer/mixins";

$posicion-text: center;
$color-text: gray;
$color-tittle: black;

.titulo > div{
    width: 100%;
}
.titulo{
    background-color: #41A0D53D;
    border-radius: 30px;
    margin: 5px;
    text-align: center;
    .forma{
        display: flex;
        justify-content: center;
        @include estilos-svg(90px,100%,#fff);
        background-color: transparent;
    }
    .titulo-texto{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        h2{
            font-size: 2rem;
            color: #C53E3E;
            font-weight: 700;
           
            font-style: normal;
        }
    }
}
.busqueda{
    margin-left: 5px;
    margin-right: 5px;
}
.sec-filtros{
    margin-left: 5px;
    margin-right: 5px;
    .filtros{
        .lista-filtros{
            border-radius: 4px;
            text-align: center;
            vertical-align: middle;
            .dropdown{
                display: flex;
                justify-content: center;
            }
            
            #boton-busqueda{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .item-filtro{
                font-weight: bold;
                background-color: #C53E3E;
                color: black;
                #btn-materias {
                    color: black;
                    background-color: transparent;
                    border-color: transparent;
                    border: none;
                    font-weight: bold;
                }
                #btn-materias:focus{
                    box-shadow: none;
                }
                .btn-busqueda{
                    background-color: #1e86c0;
                    color: #fff;
                    width: max-content;
                }
                .btn-busqueda:hover{
                    background-color: #65B462;
                }      
                h2{
                    color: #fff;
                    line-height: 1.5;
                }
            }
            .item-filtro:hover{
                color: #fff;
            }
        }
        
    }
}
.formulario{
    display: flex;
    justify-content: center;
    .form-contenido{
        background-color: rgba(65, 160, 213, 0.2392156863);
        border-radius: 30px;
        text-align: center;
        padding: 10px;
        width: 50%;
    }
}
@media (min-width: 992px){
    .list-group-horizontal-lg>.list-group-item+.list-group-item {
        border: none;
    }
    
    .sec-filtros{
        .filtros{
            .lista-filtros{
                .dropdown{
                    justify-content: left;
                }
            }
        }
    }
}

.contenido-prueba{
    @include formacion_columnas(#2987BA);
    margin: 2%;
}

.carrusel-cards{
    background-color: #2987BA;
}

.card-change{
    margin: 2%;
}

.title-card{
    text-align: $posicion-text;
    $color-text: $color-tittle;
}

.subtittle-card{
    text-align: $posicion-text;
    $color-text: $color-text;
}

.stars-card{
    text-align: $posicion-text;
    $color-text: $color-text;
}

.content-card{
    text-align: $posicion-text;
    $color-text: $color-text;
}