$posicion-text: center;
$color-text: gray;
$color-tittle: black;

.carrusel-cards{
    background-color: #2987BA;
}

.card-change{
    margin: 2%;
}

.title-card{
    text-align: $posicion-text;
    $color-text: $color-tittle;
}

.subtittle-card{
    text-align: $posicion-text;
    $color-text: $color-text;
}

.stars-card{
    text-align: $posicion-text;
    $color-text: $color-text;
}

.content-card{
    text-align: $posicion-text;
    $color-text: $color-text;
}

.bottom-card{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}