$color-background: #1E86C0;
$alineacion: center;
$separacion-letras: 1px;

.navBg{
    width: 100%;
    background-color: $color-background; 
}

.Logo{
    background-color: white;
    text-align: $alineacion;
}

.login{
    background: #EA5356;
    width: 20%;
    letter-spacing: $separacion-letras;
    text-align: $alineacion;
}

.me-auto{
    background-color: $color-background;
    width: 80%;
    letter-spacing: $separacion-letras;

}
